@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Itim';
  src: url('./assets/fonts/Itim-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto';
  src: url('./assets/fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
}

.placeholder-start::placeholder {
  @apply text-start;
}

/* 스크롤바 숨기기 커스텀 CSS */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
